header{
  position:fixed;
  top:0;
  width:100%;
  z-index:1;
  background-color: #FFF;
}
nav {
  width: 95%;
  text-transform:uppercase;
  font-size: 1.4em;
  font-family: 'Francois One', sans-serif;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

nav li {
  float: right;
}

nav li a {
  display: block;
  color: #000;
  text-align: center;
  padding: 20px;
  text-decoration: none;
  transition: 0.5s all ease;
}

nav li a:hover {
  color: #F00;
  text-decoration: none;
}

.letterpress {
  text-shadow: 1px 2px 3px #BBB,
               0 0 0 black,
               -1px 1px 0 #BBB,
               1px 1px 0 white;

  letter-spacing: -5px;
  font-size: 10em;
  padding-top:0.4em;
  font-weight: bold;
  color: #CF0000;
}
@media screen and (min-width: 612px) {
    .letterpress{
      font-size: 13em;
      padding-top:0.3em;
    }
}

@media screen and (min-width: 800px) {
    .letterpress{
      font-size: 18em;
      padding-top:0.2em;
    }
}
@media screen and (min-width: 980px) {
    .letterpress{
      font-size: 25em;
      padding-top:0.1em;
    }
}

#main {
  margin-top:1em;
}
#about {
  float:left;
}

#initial {
  padding:0;
  text-align:center;
  background-color: #F5F5F5;
  width: 100%;
}
#me {
  float:right;
  padding-bottom:2em;
}
