header{
  position:fixed;
  top:0;
  width:100%;
  z-index:1;
  background-color: #FFF;
}
nav {
  width: 95%;
  text-transform:uppercase;
  font-size: 1.4em;
  font-family: 'Francois One', sans-serif;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

nav li {
  float: right;
}

nav li a {
  display: block;
  color: #000;
  text-align: center;
  padding: 20px;
  text-decoration: none;
  transition: 0.5s all ease;
}

nav li a:hover {
  color: #F00;
  text-decoration: none;
}

.letterpress {
  text-shadow: 1px 2px 3px #DDEEFF,
               0 0 0 black,
               -1px 1px 0 #DDEEFF,
               1px 1px 0 white;

  color: rgba(254, 103, 2, .8);
  letter-spacing: -5px;
  font-size: 6.4em;
  font-weight: bold;
}


#main {
  margin-top:125px;
}
#about {
  float:left;
}

#initial {
  padding-top:5em;
  text-align:center;
  background-color: #EEE;
  width: 100%;
}
#me {
  float:right;
  padding-bottom:2em;
}
